@model List<Contact>
@{
    ViewData["Title"] = "Home Page";
    int row = 1;
}

<div class="mb-3"><a class="btn btn-success" asp-action="Create">افزودن</a></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ردیف</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>آدرس</th>
            <th>تلفن</th>
            <th>دستورات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@row</td>
                <td>@item.Name</td>
                <td>@item.LastName</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">ویرایش</a>
                    <a class="btn btn-danger" href="/Home/Delete/@item.Id">حذف</a>
                </td>

            </tr>
            row++;
        }

    </tbody>
</table>
